// Base styles for html and rpi container
html {
  background-color: theme.$background;
  min-height: 100vh;

  .cds--btn {
    transition: all;
    transition-duration: 500ms;
  }

  .cds--accordion__title {
    padding-inline-start: 0;
  }

  .cds--inline-notification {
    min-inline-size: auto;
  }

  hr {
    opacity: 0.2;
  }

  &.cds--g100 {
    scrollbar-color: theme.$layer-hover theme.$layer-active;
  }
}

.rpi {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 3rem;

  .cds--g100 & {
    scrollbar-color: theme.$layer-hover theme.$layer-active;
  }

  .cds--badge-indicator {
    font-size: 0.6rem;
    font-weight: bold;
    background: #005d5d;
    color: #9ef0f0;
    margin: 0;
  }

  .cds--tag:has(.cds--tag__custom-icon) {
    padding-inline-start: 0.5rem;
  }

  // Table cell no-wrap utility
  .cds--data-table td,
  .cds--data-table th {
    white-space: nowrap;
  }

  .cds--modal-header {
    margin-block-end: 0.65rem;
    padding-block-start: 0.65rem;
  }

  /* Settings accordion styling */
  .cds--g100 .cds--accordion__item,
  .cds--g100 .bx--accordion__item {
    border: 1px solid theme.$border-subtle;
  }

  .cds--accordion__heading,
  .bx--accordion__heading {
    padding: layout.$spacing-04;
  }

  .cds--accordion__content {
    padding-inline-end: layout.$spacing-04;
  }

  .cds--g100 .cds--modal-header {
    border-bottom: 1px solid theme.$border-subtle;
    padding-bottom: layout.$spacing-04;
  }

  &::before {
    content: "";
    position: absolute;
    left: 1.8rem;
    top: 2.7rem;
    width: 100px;
    height: 100px;
    background-image: url("../../public/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.7;
    z-index: 0;
    pointer-events: none;
  }

  h1.sectionTitle {
    margin-bottom: 1.2rem;
    padding-left: 7rem;
    padding-right: 1rem;
    position: relative;
    margin-top: 1rem;
    font-size: 28px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
